.navbar {
    background-color: #333;
    padding: 10px;
  }
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-item {
    margin-right: 20px;
  }
  
  .navbar-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
  }
  
  .navbar-link:hover {
    color: #ffcc00; /* Change the color on hover */
  }
  